			<form role="form" action="createUser.php" method="post">
				{% if error is not empty %}
					<div class="alert alert-danger">{{error}}</div>
				{% endif %}
				<p2> Please enter your details below. </p>
				<div class="form-group">
	 			 <label for="username">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{uername}}" maxlength="255" />
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength="255" ></input>
				</div>
				<button type="submit" class="btn btn-info">Submit</button> 
			</form>


{# twig html template #}
{% extends "user-portal.html" %}

{% set title = 'Fitocracy Integration Test' %}
{% block content %}
			<form name="input" action method="post">
				<div class="bg-danger">
{% for err in errors %}
					{{err}}<br />
{% endfor %}
				</div>
				<div class="bg-info">{{xp is not empty ? 'Total XP: ' ~ xp : ''}}</div>
				<div class="form-group{{invalidUsername ? ' has-error' : ''}}">
					<input type="text" name="username" class="form-control" value="{{username}}" maxlength="255" placeholder="Username" />
				</div>
				<button type="submit" class="btn btn-default">Lookup XP</button>
			</form>
{% endblock %}