{# twig html template #}
<!DOCTYPE html>
<html>
	<head>
		<title>{{title}} | Reward Yourself</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
{{head|raw}}
	</head>
	<body>
		<div class="container">
			<h1>{{title}}</h1>
		</div>
		<nav class="navbar navbar-default" role="navigation" style="background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(14, 146, 193));">
			<div class"container-fluid">
				<a class="navbar-brand" href="/"><img src="/img/logo.png" height="24"/></a>
				<ul class="nav nav-justified">
					<li><a href="home.php" style="color: rgb(102, 102, 102);">Home</a></li>
					<li><a href="createReward.php" style="color: rgb(102, 102, 102);">Create a Reward</a></li>
					<li><a href="purchase.php" style="color: rgb(102, 102, 102);">Purchase a Reward</a></li>
					<li><a href="history.php" style="color: rgb(102, 102, 102);">View History</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
{{body|raw}}
		</div>
	</body>
</html>