{# twig html template #}
{% extends "global.html" %}

{% block body %}
		<div class="container">
			<h1>{{title}}</h1>
		</div>
		<nav class="navbar navbar-default" role="navigation" style="background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(14, 146, 193));">
			<div class"container-fluid">
				<a class="navbar-brand" href="/"><img src="/img/logo.png" height="24"/></a>
				<ul class="nav nav-justified">
					<li><a href="createReward.php" style="color: rgb(102, 102, 102);">Create a Reward</a></li>
					<li><a href="purchase.php" style="color: rgb(102, 102, 102);">Purchase a Reward</a></li>
					<li><a href="history.php" style="color: rgb(102, 102, 102);">View History</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
{% block content %}{% endblock %}
		</div>
{% endblock %}