{# twig html template #}
{% extends "page.html" %}

{% set title = 'Fitocracy Integration Test' %}
{% block css %}
		<style>
			form { max-width: 450px; }
		</style>
{% endblock %}
{% block body %}
			<form name="input" action method="post">
				<div class="bg-danger">
					<ul>
{% for err in errors %}
						<li>{{err}}</li>
{% endfor %}
					</ul>
				</div>
				<div class="bg-info">{{xp is not empty ? 'Total XP: ' ~ xp : ''}}</div>
				<div class="form-group{{invalidUsername ? ' has-error' : ''}}">
					<input type="text" name="username" class="form-control" value="{{username}}" maxlength="255" placeholder="Username" />
				</div>
				<button type="submit" class="btn btn-default">Lookup XP</button>
			</form>
{% endblock %}